.header{
    text-align: center;
    font-size: 50px;
    color: rgb(180, 42, 0);
    font-weight: 900;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.miniheader{
    font-style: italic;
    color: rgb(0, 0, 138);
    font-weight: 900;
}