ul{
    list-style: none;
    text-align: center;
    margin-top: 50px;
    flex-shrink: 0;
}

li{
    margin: 20px;
    padding: 20px;
    border-style: groove;
    border-radius: 20px;
    border-color: black;
    background-color: rgb(190, 114, 0);
}

a{
    text-decoration: none;
    color: white;
    font-weight: 900;
}

.Header{
    text-align: center;
    font-size: 100px;
    margin-bottom: 30px;
    padding: 30px;
}